
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<p>
    Identity Management if a critical aspect of a person in 21st Century. This calls for organization's high level of data management that gives
    integrity and trust to data owners. CHENGSEE SYSTEMS was created with sole objective of providing personal identity verification
    services that utilize public key infrastructure (PKI) techniques.
</p>
<p>
    Our company has experienced personel and technical team of advisors respectable in the industry whose experience span more than 20 years, making its products reliable and
    trustworthy.
</p>
<p>
    CHENGSEE SYSTEMS can be reached on info@chengsee.com or +254-798-774000.
</p>
