<div class="jumbotron">
    <h1>CHENGSEE SYSTEMS</h1>
    <p class="lead">Identity Management|| Identify Verifier || Smart Cards Provisions</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Public Identity Management</h2>
        <p>Individuals have variety of identifiers spread in various organizations in Kenya including membership to various bodies. This service aims at bringing all 
        identifiers of an individual into one location to licensed data processors and/or data controllers as defined in Kenya's Data Protection Act No. 24 of 2019 (the "DPA")</p>
        <p><a class="btn btn-default" href="/Home/Identifier">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Trust Service</h2>
        <p>Organizations can create public keys for its subjects or for purpose of allowing for internationalization of identifiers for ease of transferability. Our firm believe that its ribe 
        to have individuals being globally identified makes the service readily accessible for use. Organizations with identity data can also apply for integration with wider scheme single source of verifiable person's identification.</p>
        <p><a class="btn btn-default" href="/Home/Trusted">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Smart Cards</h2>
        <p>Many organizations would like to have staff cards easily verified using bar-code basic functionality or vie a global public key infrastructure querying platform. Our goal is to make an integral platform that can easily solve 
        varied inquiries on a person or property.</p>
        <p><a class="btn btn-default" href="/Home/CardSystem">Learn more &raquo;</a></p>
    </div>
</div>
